---
import Layout from "@src/components/Layout.astro";
import { authenticateUser } from "@src/utils/auth";

let loginError;

// if method is POST, then login
if (Astro.request.method === "POST") {
  // get username and password from form
  const formData = await Astro.request.formData();
  const { username, password } = Object.fromEntries(formData.entries());

  try {
    const sessionId = await authenticateUser({ username, password });
    Astro.cookies.set("session", sessionId, {
      httpOnly: true,
      sameSite: "lax",
      secure: true,
      path: "/",
    });
    return Astro.redirect("/?logged-in=true");
  } catch (error) {
    console.log(error);
    loginError = error;
  }
}
---

<!-- Login form -->
<Layout>
  <p>
    Use the form below to sign in. If you want to register, ask Larry for a
    link.
  </p>
  <form method="POST">
    <!-- login error -->
    {loginError && <p class="error">{loginError}</p>}
    <!-- username -->
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />

    <!-- password -->
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <!-- submit -->
    <button type="submit">Login</button>
  </form>
</Layout>

<style>
  .error {
    background-color: rgba(255, 0, 0, 0.1);
    border: 2px solid darkred;
    padding: 0.5rem;
  }
</style>
