---
import Layout from "@src/components/Layout.astro";
import { createUserAndLogin } from "@src/utils/auth";

let loginError;

// if method is POST, then login
if (Astro.request.method === "POST") {
  // get username and password from form
  const formData = await Astro.request.formData();
  const { username, email, password, confirmPassword } = Object.fromEntries(
    formData.entries()
  );

  //   check if passwords match

  try {
    if (password !== confirmPassword) {
      throw new Error("Passwords do not match");
    }

    // create new user and login
    const sessionId = await createUserAndLogin({ username, email, password });

    Astro.cookies.set("session", sessionId, {
      httpOnly: true,
      sameSite: "lax",
      secure: true,
      path: "/",
    });

    return Astro.redirect("/?logged-in=true");
  } catch (error) {
    loginError = error;
  }
}
---

<!-- Login form -->
<Layout>
  <h1>Register</h1>
  <p>
    Use the form below to create an account. You will not be able to use the app
    until Larry approves your account.
  </p>
  <form method="POST">
    <!-- error -->
    <div class="error">
      <p>{loginError}</p>
    </div>
    <!-- username -->
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
    </div>

    <!-- email -->
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>

    <!-- password -->
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>

    <!-- confirm password -->
    <div>
      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirm-password" />
    </div>

    <!-- submit -->
    <button type="submit">Login</button>
  </form>
</Layout>

<style>
  /* make inputs the same size */
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }

  form > div {
    margin-bottom: 1rem;
  }

  /* error */
  .error {
    background-color: rgba(255, 0, 0, 0.1);
    border: 2px solid red;
    padding: 0.5rem;
  }
</style>
