---
import { redirectUserIfNotApproved } from "@src/utils/auth";
import Layout from "@src/components/Layout.astro";

const { user, redirect } = await redirectUserIfNotApproved(Astro);
if (redirect) return redirect;
---

<Layout user={user}>
  <h1>Larry's AI chatbot</h1>
  <p>This is a work in progress.</p>
</Layout>
