---
import Layout from "@src/components/Layout.astro";
import * as db from "@src/utils/db";
import { redirectUserIfNotApproved } from "@src/utils/auth";

await redirectUserIfNotApproved(Astro);

const id = parseInt(Astro.params.id);

const systemPrompt = await db.getSystemPromptById(id);
---

<Layout>
  <h1>System prompt</h1>

  <p>{systemPrompt.content}</p>
</Layout>
