---
import Layout from "@src/components/Layout.astro";
import * as db from "@src/utils/db";
import { redirectUserIfNotApproved } from "@src/utils/auth";

const { user, redirect } = await redirectUserIfNotApproved(Astro);
if (redirect) return redirect;

const id = parseInt(Astro.params.id);

const systemPrompt = await db.getSystemPromptById(id);
---

<Layout user={user}>
  <h1>System prompt</h1>

  <p>{systemPrompt.content}</p>
</Layout>
