---
import Layout from "@src/components/Layout.astro";
import * as db from "@src/utils/db";
import { redirectUserIfNotApproved } from "@src/utils/auth";
import ListLink from "@src/components/ListLink.astro";

const { user, redirect } = await redirectUserIfNotApproved(Astro);
if (redirect) return redirect;

const systemPrompts = await db.getSystemPromptsForUser(user.id);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const promptData = {
    name: formData.get("name") || "Unnamed",
    content: formData.get("content") || "",
  } as db.SystemPromptInput;
  const newPromptId = await db.createSystemPrompt(promptData);
  return Astro.redirect(`/system-prompts/${newPromptId}/`);
}
---

<Layout user={user}>
  <h1>System prompts</h1>

  <p>
    System prompts are the main instructions that the AI follows when it is
    having a conversation with you. To start a new conversation, you need to
    choose a system prompt that will guide the AI.
  </p>

  <ul>
    {
      systemPrompts.map((prompt) => (
        <ListLink href={`/system-prompts/${prompt.id}/`}>
          {prompt.content}
        </ListLink>
      ))
    }
  </ul>

  <h2>Create new</h2>
  <form method="POST">
    <label for="name">Name</label>
    <input id="name" name="name" />
    <label for="content">Prompt</label>
    <textarea id="content" name="content"></textarea>
    <button type="submit">Create</button>
  </form>
</Layout>

<style>
  textarea {
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }
</style>
